  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/games">Games</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/users">My Account</a></li>
        </ul>
      </div>
    </nav>
  </div>